{% extends 'index/base.html'%}
{%block content%}
   <div class="container">
           <h1>Ужин</h1>
           <p class="nameofmeal">Простой и питательный салат "Весенний близ"</p>
           <hr>
           <img class="imageofmeal" src="https://static.1000.menu/img/content/30954/salat-vesennii-briz_1545813840_8_max.jpg">
           <h2>Как приготовить</h2>
           <h3>Ингридиенты</h3>
           <ul class = "ingridients">
           <li>Помидоры - 2 шт</li>
           <li>Крабовые палочки - 200 г</li>
           <li>Сыр твердый - 150-200 г</li>
           <li>Чеснок - 2-3 зубчика</li>
           <li>Майонез - по вкусу</li>
           <li>Зелень - по вкусу</li>
           </ul>
           <h3>Готовим</h3>
           <ol>
           <li>Крабовые палочки разморозить, нарезать кубиками.</li>
           <li>Помидоры помыть и нарезать кубиками.</li>
           <li>Зелень помыть и мелко нарезать.</li>
           <li>Чеснок очистить и натереть на мелкой терке. Твердый сыр натереть на мелкой терке.</li>
           <li>Все ингредиенты выложить в миску, заправить салат из крабовых палочек по вкусу майонезом и хорошо перемешать. <em>(Солить не нужно!)</em></li>
           </ol>
           <h3>Приятного аппетита и хорошего вечера!</h3>
   </div>
{%endblock%}